---
layout: layout
---
<section class="archive-page">
  <h1 class="archive-title">
    <i class="fas fa-tags"></i> 标签：<%= page.tag ? page.tag.name : '' %>
  </h1>
  <% page.posts.each(function(post) { %>
    <div class="archive-item">
      <span class="archive-date"><%= date(post.date, 'YYYY-MM-DD') %></span>
      <a href="<%= url_for(post.path) %>" class="archive-link"><%= post.title %></a>
    </div>
  <% }) %>
</section>

<%- partial('partial/pagination') %>
